@charset "UTF-8";
body{
	margin: 0;
	height: 100vh;
	overflow-y:hidden;
	background-color: #ffd93b;
}

.grid-container{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
	". . ."
	".	imagen		."
	". boton .";
	height: 100vh;
}

section.imagen{
	grid-area: imagen;
	align-content: center;
}

section.boton{
	grid-area: boton;
	align-items: center;
}

#button{
	text-decoration: none;
	color: white;
	font-weight: bold;
	position: absolute;
	left:46%;
	background-color:  #818181;
	border: 2px solid #474747;
	padding: 8px;
}

#button:hover {
	text-decoration: none;
	color: white;
	font-weight: bold;
	position: absolute;
	left:46%;
	background-color:  #818181;
	border: 2px solid #474747;
	padding: 8px;
}

#button:visited {
	text-decoration: none;
	color: white;
	font-weight: bold;
	position: absolute;
	left:46%;
	background-color:  #818181;
	border: 2px solid #474747;
	padding: 8px;
}