body{
	margin: 0;
	height: 100vh;
}

.grid-container{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
	"header header header"
	"left	table		."
	"footer footer footer";
	height: 100vh;
}

.header{
	background-color:  #818181;
	border: 2px solid #474747;
	grid-area: header;
}

section.table{
	/*Estilo de la tabla*/
	grid-area: table;
}

table{
	margin-left:3%;
	text-align: center;
	border-style: solid;
  	border-radius: 8px;
  	border-width: 2px;
  	border-color: #641313;
}

tr,td,th{
	border: 2px solid #641313;
	border-radius: 8px;
	background-color: white;
	padding: 2px;
}


section.left{
	grid-area: left;
}


.left button{
	text-decoration: none;
	background-color: #B72929;
	color: white;
	font-weight: bold;
	padding: 8px;
	border:3px solid #641313;
	margin-top: 5%;
	margin-left: 5%;
}

.left a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.left a:hover {
	text-decoration: none;
	color: white;
	font-weight: bold;
	}

.left a:visited {
	text-decoration: none;
	color: white;
	font-weight: bold;
	}

section.footer{
	/*Estilo del footer*/
	background-color: #5E605D;
	color: white;
	grid-area:footer;
}

.footer p{
	color: white;
	text-align: center;
}

#cart{
	margin-right:1em;
	margin-top:2em;
	float: right;
	width: 60px;
	height: 65px;
}
